vim/.vim/plugged/
vim/.vim/.swp/*
!vim/.vim/.swp/.keep
vim/.vim/spell/*
!vim/.vim/spell/*.add
vim/.vim/.netrwhist

zsh/.oh-my-zsh/custom/this_machine/*
!zsh/.oh-my-zsh/custom/this_machine/README


times in msec
 clock   self+sourced   self:  sourced script
 clock   elapsed:              other lines

000.028  000.028: --- NVIM STARTING ---
012.986  012.959: locale set
022.519  009.533: inits 1
022.540  000.021: window checked
022.766  000.225: parsing arguments
022.940  000.175: expanding arguments
025.754  002.814: inits 2
027.304  001.550: init highlight
029.252  000.922  000.922: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/ftoff.vim
033.651  004.178  004.178: sourcing /home/ferdy/.local/share/nvim/site/autoload/plug.vim
050.356  000.024  000.024: sourcing /home/ferdy/.vim/plugged/vim-fugitive/ftdetect/fugitive.vim
055.024  004.544  004.544: sourcing /home/ferdy/.vim/plugged/vim-polyglot/ftdetect/polyglot.vim
055.409  000.034  000.034: sourcing /home/ferdy/.vim/plugged/vim-polyglot/after/ftdetect/rspec.vim
055.509  013.858  009.256: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/filetype.vim
057.200  001.280  001.280: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/ftplugin.vim
058.715  001.231  001.231: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/indent.vim
061.123  000.417  000.417: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/syntax/syncolor.vim
061.366  001.060  000.643: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/syntax/synload.vim
061.418  002.351  001.291: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/syntax/syntax.vim
062.417  000.304  000.304: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/syntax/syncolor.vim
064.615  000.312  000.312: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/syntax/syncolor.vim
065.540  000.297  000.297: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/syntax/syncolor.vim
069.032  006.183  005.574: sourcing /home/ferdy/.vim/colors/solarized.vim
077.679  049.718  019.411: sourcing /home/ferdy/.vimrc
077.695  049.888  000.170: sourcing /home/ferdy/.config/nvim/init.vim
077.699  000.507: sourcing vimrc file(s)
079.100  000.312  000.312: sourcing /home/ferdy/.vim/plugged/ctrlp.vim/autoload/ctrlp/mrufiles.vim
079.293  000.752  000.441: sourcing /home/ferdy/.vim/plugged/ctrlp.vim/plugin/ctrlp.vim
080.219  000.193  000.193: sourcing /home/ferdy/.vim/plugged/nerdtree/autoload/nerdtree.vim
082.073  000.767  000.767: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/path.vim
082.293  000.167  000.167: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/menu_controller.vim
082.432  000.094  000.094: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/menu_item.vim
082.636  000.148  000.148: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/key_map.vim
082.975  000.267  000.267: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/bookmark.vim
083.265  000.244  000.244: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/tree_file_node.vim
083.802  000.493  000.493: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/tree_dir_node.vim
084.081  000.233  000.233: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/opener.vim
084.394  000.270  000.270: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/creator.vim
084.497  000.058  000.058: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/flag_set.vim
084.706  000.163  000.163: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/nerdtree.vim
085.097  000.347  000.347: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/ui.vim
085.168  000.028  000.028: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/event.vim
085.259  000.049  000.049: sourcing /home/ferdy/.vim/plugged/nerdtree/lib/nerdtree/notifier.vim
085.794  000.487  000.487: sourcing /home/ferdy/.vim/plugged/nerdtree/autoload/nerdtree/ui_glue.vim
089.560  000.127  000.127: sourcing /home/ferdy/.vim/plugged/nerdtree/nerdtree_plugin/exec_menuitem.vim
092.551  001.730  001.730: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/autoload/provider/clipboard.vim
093.005  003.418  001.688: sourcing /home/ferdy/.vim/plugged/nerdtree/nerdtree_plugin/fs_menu.vim
093.100  000.064  000.064: sourcing /home/ferdy/.vim/plugged/nerdtree/nerdtree_plugin/vcs.vim
093.916  014.524  006.906: sourcing /home/ferdy/.vim/plugged/nerdtree/plugin/NERD_tree.vim
094.587  000.565  000.565: sourcing /home/ferdy/.vim/plugged/vim-endwise/plugin/endwise.vim
095.090  000.388  000.388: sourcing /home/ferdy/.vim/plugged/vim-fugitive/plugin/fugitive.vim
095.780  000.223  000.223: sourcing /home/ferdy/.vim/plugged/vim-gitgutter/autoload/gitgutter/utility.vim
096.445  000.150  000.150: sourcing /home/ferdy/.vim/plugged/vim-gitgutter/autoload/gitgutter/highlight.vim
097.458  002.265  001.892: sourcing /home/ferdy/.vim/plugged/vim-gitgutter/plugin/gitgutter.vim
098.520  000.953  000.953: sourcing /home/ferdy/.vim/plugged/vim-rails/plugin/rails.vim
098.906  000.292  000.292: sourcing /home/ferdy/.vim/plugged/ack.vim/plugin/ack.vim
099.441  000.132  000.132: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/init.vim
100.065  000.116  000.116: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/parts.vim
101.643  000.189  000.189: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/util.vim
101.734  002.744  002.307: sourcing /home/ferdy/.vim/plugged/vim-airline/plugin/airline.vim
101.866  000.028  000.028: sourcing /home/ferdy/.vim/plugged/vim-airline-themes/plugin/airline-themes.vim
103.945  001.947  001.947: sourcing /home/ferdy/.vim/plugged/Align/plugin/AlignMapsPlugin.vim
104.087  000.103  000.103: sourcing /home/ferdy/.vim/plugged/Align/plugin/AlignPlugin.vim
104.563  000.443  000.443: sourcing /home/ferdy/.vim/plugged/Align/plugin/cecutil.vim
105.637  000.125  000.125: sourcing /home/ferdy/.vim/plugged/ale/autoload/ale/events.vim
105.827  001.163  001.038: sourcing /home/ferdy/.vim/plugged/ale/plugin/ale.vim
106.380  000.049  000.049: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/filetype.vim
106.901  000.059  000.059: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/ftplugin.vim
107.235  000.044  000.044: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/indent.vim
110.204  001.429  001.429: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/macros/matchit.vim
110.410  004.481  002.900: sourcing /home/ferdy/.vim/plugged/vim-sensible/plugin/sensible.vim
111.075  000.444  000.444: sourcing /home/ferdy/.vim/plugged/vim-rhubarb/plugin/rhubarb.vim
112.800  001.429  001.429: sourcing /home/ferdy/.vim/plugged/cheat.sh-vim/plugin/cheat.vim
117.332  002.057  002.057: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/gzip.vim
117.605  000.122  000.122: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/health.vim
118.000  000.265  000.265: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/man.vim
119.750  001.608  001.608: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/matchit.vim
120.052  000.122  000.122: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/matchparen.vim
121.889  001.721  001.721: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/netrwPlugin.vim
122.458  000.434  000.434: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/rplugin.vim
122.703  000.181  000.181: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/shada.vim
122.922  000.121  000.121: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/spellfile.vim
123.233  000.253  000.253: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/tarPlugin.vim
123.494  000.169  000.169: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/tohtml.vim
123.614  000.062  000.062: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/tutor.vim
123.940  000.270  000.270: sourcing /tmp/.mount_nvim.aAS6D0e/usr/share/nvim/runtime/plugin/zipPlugin.vim
123.955  006.349: loading plugins
124.180  000.224: loading packages
124.334  000.154: loading after plugins
124.347  000.013: inits 3
126.236  001.889: reading ShaDa
131.590  005.354: clearing screen
133.386  000.827  000.827: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/extensions.vim
133.727  000.177  000.177: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/section.vim
134.545  000.549  000.549: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/highlighter.vim
139.062  000.506  000.506: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline.vim
143.602  000.188  000.188: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/themes.vim
144.191  001.283  001.095: sourcing /home/ferdy/.vim/plugged/vim-airline-themes/autoload/airline/themes/solarized.vim
145.270  002.634  001.351: sourcing /home/ferdy/.vim/plugged/vim-airline-themes/autoload/airline/themes/solarized.vim
179.157  000.565  000.565: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/builder.vim
179.709  000.229  000.229: sourcing /home/ferdy/.vim/plugged/vim-airline/autoload/airline/extensions/default.vim
243.022  000.405  000.405: sourcing /home/ferdy/.vim/plugged/ale/autoload/ale.vim
243.125  105.643: opening buffers
243.583  000.346  000.346: sourcing /home/ferdy/.vim/plugged/vim-gitgutter/autoload/gitgutter.vim
243.803  000.333: BufEnter autocommands
243.808  000.005: editing files in windows
249.865  005.595  005.595: sourcing /home/ferdy/.vim/plugged/vim-fugitive/autoload/fugitive.vim
251.864  002.461: VimEnter autocommands
251.869  000.005: before starting main loop
254.391  002.521: first screen update
254.396  000.005: --- NVIM STARTED ---
