vim/.local/share/nvim/shada/
vim/.vim/plugged/
vim/.vim/.swp/*
!vim/.vim/.swp/.keep
vim/.vim/spell/*
!vim/.vim/spell/*.add
vim/.vim/.netrwhist

zsh/.oh-my-zsh/custom/this_machine/*
!zsh/.oh-my-zsh/custom/this_machine/README
